@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Article>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "InnerPageLayout.cshtml";
    var theRoot = (HomePage)Model.Root();

    var title = Model.Name;
    var auth_name = Model.AuthorName;
    var auth_pos = Model.AuthorPosition;
    var short_desc = Model.ShortDesc;
    var related_cats = Model.RelatedCategories?.ToList();
    var lobby_cat = related_cats?.Where(rc => rc.Parent?.GetType().Name == "Categories").FirstOrDefault()?.Name;
    var bgSideImg = "background-image:url('" + Model.SideImg?.Url() + "');";

    var topParagraphs = Model.TopContentParagraphs;
    var bottomParagraphs = Model.BottomContentParagraphs;
}

<a href="javascript:;" id="maincontent" tabindex="-1" class="skip_content_link"></a>

<!-- Two col section -->

            <div class="page_top">
                <img src="media/images/logo_dark.png" alt="רפאל" class="logo_print" />
                <a href="#" class="go_back "><span class="icon icon-arrow_right"></span><span class="label">
                    @lobby_cat
                    </span></a>
                <h1 class="title_section title-1 sm-splittext">@title</h1>
                <ul class="jobs_list clear">
                    <li>@auth_name</li>
                    <li>@auth_pos</li>
                </ul>
                <div class="article_desc title-5">@short_desc</div>
            </div>

            <div class="left_side">
                <div class="inner">
                    <div class="image sm-global sm-imagereveal parallax" data-smprop='{"type":"class","threshold":0.15}' data-translatey="0.35" data-ease="0.09"><div class="bg parallax-move"><div class="cover" style=@bgSideImg></div></div></div>
                </div>
            </div>

            <div class="content font_l">
                @foreach (var tp in topParagraphs)
                {
                    Paragraph par =  tp.Content as Paragraph;
                    <h3 class="title-5">@par.TitleText</h3>
                    @par.RichContent
                }
                <div class="video_box mix_video">
                    <a href="javascript:;" class="inner play_video" aria-label="נגן סרטון">
                        <div class="bg cover" style="background-image: url('media/images/pictures/25.jpg');"></div>
                        <div class="play_btn"></div>
                        <div class="bottom">
                            <div class="name font_xl">ד״ר רוגובסקי רותם</div>
                            <h4 class="title-2">מידע גם על שאר הבדיקות בהריון</h4>
                        </div>
                    </a>
                    <div class="iframe_cont" data-youtube-id="Bey4XXJAqS8"></div>
                </div>
                @foreach (var bp in bottomParagraphs)
                {
                    Paragraph par = bp.Content as Paragraph;
                    <h3 class="title-5">@par.TitleText</h3>
                    @par.RichContent
                }
            </div>
